*
    -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box    /* Firefox, other Gecko */
    box-sizing: border-box

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	padding: 0px
	margin: 0px
	top: 0
	left: 0
	background-color: #2c3e50
	width: 100%;
	height: 100%;

	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;



.loader
	//visibility: hidden
	width: 32px
	height: 32px
	position: absolute
	top: 20%
	background-image: url('preloader.gif')
	z-index: -1
	left:0 
	right:0
	margin: 0 auto
	background-color: white
	border-radius: 25px


.footer
	width: 100%
	background-color: #2980b9
	height: 50px
	bottom: 0px
	position: fixed
	text-align: center
	font-size: 13px
	color: white
	padding-top: 7px;
	
	border-bottom: 5px solid #3498db;	
